body {
    background-color: rgb(141, 90, 120);
    opacity: 60%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header {
    padding-top: 300px;
    color: rgb(248, 244, 246);
}

#jumbotron {
    background-color: rgb(141, 90, 120);
    opacity: 90%;
}

#wholepage {
    background-image: url("../images/flowersprovidence.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}