body {
    background-color: rgb(141, 90, 120);
    opacity: 70%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header {
    color: rgb(248, 244, 246);
}

/*background image: https://www.w3schools.com/cssref/pr_background-image.asp This is a picture I took in a flower garden in Providence, Rhode Island*/
/*jumbotron: https://getbootstrap.com/docs/4.3/components/jumbotron/ */

#jumbotron {
    background-color: rgb(141, 90, 120);
    opacity: 80%;
    text-align: center !important;
    background-image: url("../images/flowersprovidence.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

#portfolio {
    text-align: center;
    color: rgb(248, 244, 246);
}

#footer {
    text-align: center;
    color: white;
    opacity: 100%;
    background-color: rgba(68, 88, 68, 0.829);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#github {
    font-size: 30px;
}

#linkedin {
    font-size: 30px;
}

#resume {
    font-size: 30px;
}

#projects {
    font-size: 30px;
    text-align: center;
    color: rgb(248, 244, 246);
}

#Trivia-Game {
    font-size: 20px;
}

#GifTastic {
    font-size: 20px;
}

#JewelGame {
    font-size: 20px;
}

#columns {
    text-align: center;
    color: rgb(248, 244, 246) !important;
}

#image2 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image3 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}